$purple: #755cde;
$yellow: #f6a560;
$pink: #f39e9e;
$brick: #eb7565;
$aqua: #61c4b7;
$eggplant: #552049;
$black: #030303;
$gray: #7a746e;
$white: #ffffff;
$off-white: #fff7f0;

$breakpoint-tablet: 900px;
$breakpoint-mobile: 600px;